@font-face {
    font-family: "roboto";
    src:    url("./assets/fonts/roboto-variablefont_wdthwght-webfont.woff2") format("woff2"),
            url("./assets/fonts/roboto-variablefont_wdthwght-webfont.woff") format("woff");
            font-weight: normal;
            font-style: normal;
}

*, *::before, *::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
    line-height: calc(1em + 0.5rem);
}

img {
    display: block;
    max-width: 100%;
}

button {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}